<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger=""="{{burger}}">
		{{#if burger}}Ready to Eat!{{else}}{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DEVOUR</button>
</li>
